# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/storePictures
/node_modules
/.vscode
/.pnp
.pnp.js

# testing
/coverage
.eslintrc.json

# production
/build

# misc
/sounds
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
reference.js
scratchpad.js
package.json
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
