body{
    font-family: 'Poppins', sans-serif;
    background-color:black;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 100% !important;
}

h1{
    font-size: 2rem;
    
}

a{
    font-weight: 300;
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
}

#logo{
    height: 150px;
    width: 150px;
    display:flex;
    margin: 10px 40px 10px 40px;
}

#mainHead{
    font-weight: 600;
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}

#notifStatus{
    font-weight: 300;
    margin: 10px;
    text-align: center;
}

.streamer-purple-mike{
    background: linear-gradient(to right,rgb(65, 17, 94), transparent 40%,rgb(65, 17, 94)),
    url("images/mikeLarge.png");
    background-color: rgb(65, 17, 94);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.streamer-dark-mike{
    background: linear-gradient(to right,rgb(66, 66, 66), transparent 40%,rgb(66, 66, 66)),
    url("images/mikeLarge.png");
    background-color: rgb(66, 66, 66);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #999da2;
    border-radius: 10px;
    
}

.streamer-light-mike{
    background: linear-gradient(to right,#999da2, transparent 40%,#999da2),
    url("images/mikeLarge.png");
    background-color: #999da2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #171717;
    border-radius: 10px;
    
}

.streamer-purple-rev{
    background: linear-gradient(to right,rgb(65, 17, 94), transparent 40%,rgb(65, 17, 94)),
    url("images/revLarge.png");
    background-color: rgb(65, 17, 94);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 50%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: rgb(65, 17, 94);
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.streamer-dark-rev{
    background: linear-gradient(to right,rgb(66, 66, 66), transparent 40%,rgb(66, 66, 66)),
    url("images/revLarge.png");
    background-color: rgb(66, 66, 66);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #999da2;
    border-radius: 10px;
    
}

.streamer-light-rev{
    background: linear-gradient(to right,#999da2, transparent 40%,#999da2),
    url("images/revLarge.png");
    background-color: #999da2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #171717;
    border-radius: 10px;
    
}

.streamer-purple-limes{
    background: linear-gradient(to right,rgb(65, 17, 94), transparent 40%,rgb(65, 17, 94)),
    url("images/limesLarge.png");
    background-color: rgb(65, 17, 94);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 60%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: rgb(65, 17, 94);
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.streamer-dark-limes{
    background: linear-gradient(to right,rgb(66, 66, 66), transparent 40%,rgb(66, 66, 66)),
    url("images/limesLarge.png");
    background-color: rgb(66, 66, 66);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #999da2;
    border-radius: 10px;
    
}

.streamer-light-limes{
    background: linear-gradient(to right,#999da2, transparent 40%,#999da2),
    url("images/limesLarge.png");
    background-color: #999da2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #171717;
    border-radius: 10px;
    
}

.streamer-purple-fred{
    background: linear-gradient(to right,rgb(65, 17, 94), transparent 40%,rgb(65, 17, 94)),
    url("images/fredLarge.png");
    background-color: rgb(65, 17, 94);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 50%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: rgb(65, 17, 94);
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.streamer-dark-fred{
    background: linear-gradient(to right,rgb(66, 66, 66), transparent 40%,rgb(66, 66, 66)),
    url("images/fredLarge.png");
    background-color: rgb(66, 66, 66);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #999da2;
    border-radius: 10px;
    
}

.streamer-light-fred{
    background: linear-gradient(to right,#999da2, transparent 40%,#999da2),
    url("images/fredLarge.png");
    background-color: #999da2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 55%;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge #171717;
    border-radius: 10px;
    
}

.headLinks{
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}

.optionList-purple{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #530953,black);
    background-repeat: no-repeat;
   
}

.optionList-dark{
    color: #999da2;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #202124,black);
    background-repeat: no-repeat;
   
}

.optionList-light{
    color: #171717;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, white,#999da2);
    background-repeat: no-repeat;
   
}

.optionItem-purple{
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: rgb(65, 17, 94);
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.optionItem-dark{
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    border: 5px ridge #999da2;
    border-radius: 10px;
    
}

.optionItem-light{
    display: flex;
    height: 100px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    background-color: #999da2;
    border: 5px ridge #171717;
    border-radius: 10px;
    
}

.optionHeading{
    
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

    padding: 10px;
    
}

.optionControl{
    align-self: flex-end;
    margin-left:auto;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-weight: 300;
}

.header-purple{
    display: flex;
    height: fit-content;
    color:white;
    background-image: url("images/gplay.png");
    background-color:#4e226b;
    align-content: flex-start;
    border-bottom: 5px ridge rgb(95, 26, 134);
}

.header-dark{
    display: flex;
    height: fit-content;
    color:#999da2;
    background-image: url("images/gplay.png");
    background-color:#171717;
    align-content: flex-start;
    border-bottom: 5px ridge #202124(95, 26, 134);
}

.header-light{
    display: flex;
    height: fit-content;
    color:#171717;
    background-image: url("images/gplay.png");
    background-color:white;
    align-content: flex-start;
    border-bottom: 5px ridge #171717;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }