body{
    background-color:black;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1{
    font-size: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.optionList{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #530953,black);
    background-repeat: no-repeat;
}

.optionItem{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    flex-grow: 1;
}

.optionHeading{
    
    padding-left: 10px;
    font-size: 1.5rem;
}

.header{
    display: table-header-group;
    width: 100%;
    height: 150px;
    color:white;
    text-align:center;
    align-content: center;
    border-bottom: 3px solid;
    border-color: white;
    background-color:#4e226b;
}