body{
    background-color:black;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1{
    font-size: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.optionList{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #530953,black);
    background-repeat: no-repeat;
   
}

.optionItem{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    align-items: center;
    border-collapse: separate;
    overflow: hidden;
    border: 5px ridge rgb(95, 26, 134);
    border-radius: 10px;
    
}

.optionHeading{
    
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    
}

.optionControl{
    align-self: flex-end;
    margin-left:auto;
    padding: 10px;
}

.header{
    display: table-header-group;
    width: 100%;
    height: 150px;
    color:white;
    text-align:center;
    background-color:#4e226b;
    align-content: center;
    border-bottom: 5px ridge rgb(95, 26, 134);
}